
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
font-family: cursive;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
/* NAVBAR STYLING STARTS */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #2C9D30;
  color: #FFF;
}

.nav-links a {
  color: #fff;
}

/* LOGO */
.logo {
  font-size: 32px;
}

/* NAVBAR MENU */
.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}

.menu li:hover {
  background-color: #4c9e9e;
  border-radius: 5px;
  transition: 0.3s ease;
}

.menu li {
  padding: 5px 14px;
}

/* DROPDOWN MENU */
.services {
  position: relative; 
}

.dropdown {
  background-color: rgb(1, 139, 139);
  padding: 1em 0;
  position: absolute; /*WITH RESPECT TO PARENT*/
  display: none;
  border-radius: 8px;
  top: 35px;
}

.dropdown li + li {
  margin-top: 10px;
}

.dropdown li {
  padding: 0.5em 1em;
  width: 8em;
  text-align: center;
}

.dropdown li:hover {
  background-color: #4c9e9e;
}

.services:hover .dropdown {
  display: block;
}
#contact_category{
 border: 2px solid black;
 width: 830px;
 margin-left: 250px;
 margin-top: 60px;
 padding: 10px;
 height: 100%;

}
.contact_div1{
 background-color: deeppink;
 padding-top: 23px;
 float: left;
 margin:  25px;
 width: 200px;
 height: 70px;
 text-align: center;
}
#contact_countdown{
  float: right;

}
#contact_result{
 border: 1px solid black;
 margin-top: 6px;
 margin-left: 440px;
 width: 460px;
 padding: 20px;
}
#contact_form{
 width: 470px;
 border: 1px solid black;
 margin-left: 400px;
 margin-top: 10px;
 padding: 20px;
}
#contact_input{
 width: 370px;
 height: 40px;
 padding: 10px;
 margin-left: 30px;
}
#contact_input_submit{
 width: 80px;
 height: 40px;
 background-color: blue;
 color: white;
 font-weight: bold;
 border: 1px solid blue;
 margin-left: 170px;
}#contact_input_submit:hover{
 cursor: pointer;
 background-color: darkgreen;
 color: white;
 font-weight: bold;
}
.forget_password_category{
  border: 2px solid black;
  width: 815px;
  margin-left: 250px;
  margin-top: 10px;
  padding: 40px;
  height: 540px;
}
.forget_password_div1{
  background-color: deeppink;
  padding-top: 23px;
  float: left;
  margin:  25px;
  width: 200px;
  height: 70px;
  text-align: center;
}
#forget_password_class{
  float: left;
}
#forgetpassword{
  border: 1px solid black;
  margin-left: 400px;
  width: 400px;
  margin-top: 50px;
  padding: 20px;
}
#forgetpassword_otp{
  border: 1px solid black;
  margin-left: 400px;
  width: 400px;
  margin-top: 50px;
  padding: 20px;
}
#class{
  float: left;

}
#classname{
  background-color: deeppink;
  color: white;
  width: 220px;
  height: 100px;
  margin: 10px;
  font-weight: bold;
}
#classname:hover{
  cursor: pointer;
  background-color: blue;
  color: white;
}
#index_form{
  border: 3px solid #f1f1f1; 
  width: 700px; 
  margin-left: 300px;
  margin-top: 50px;
}

#index_input_text, #index_input_password{
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

#index_button {
  background-color: #0866FF;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 60%;
}

#index_button:hover {
  opacity: 0.8;
}
#subject {
  float: left;
}
#subjectname {
  background-color: #1C1C1C;
  color: white;
  width: 220px;
  height: 100px;
  margin: 10px;
  font-weight: bold;
}
#subjectname:hover {
  cursor: pointer;
  background-color: blue;
  color: white;
}
#signup_form {
  border: 3px solid #f1f1f1; 
  width: 700px; 
  margin-left: 300px;
  margin-top: 50px;
  height: 490px;
}
#signup_input_text, #signup_input_password{
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

#signup_button {
  background-color: #0866FF;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 60%;
}
#signup_button:hover {
  opacity: 0.8;
}
.scrollable-div {
  width: 420px; /* Set the width of the div */
  height: 250px; /* Set the height of the div */
  overflow: auto; /* Add scrollbars when content overflows */
  border: 1px solid #ccc; /* Add border for visualization */
  padding: 10px; /* Add padding for content */
  float: left;
  margin-left: 10px;
}
#result_display_category{
  margin-left: 200px;
  border: 2px solid black;
  height: 600px;
  width: 900px;
  margin-top:10px;
}
#result{
  margin-left: 400px;
}
#scroll{
  margin-top: 20px;
}
#reset_password{
  border: 1px solid black;
  margin-left: 400px;
  width: 400px;
  margin-top: 50px;
  padding: 20px;
}
.profile_category{
  border: 2px solid black;
  width: 815px;
  margin-left: 250px;
  margin-top: 10px;
  padding: 40px;
  height: 540px;
}
#profile_update{
  margin-left: 80px;
  width: 200px;
  height: 40px;
  background-color: blue;
  color: white;
  border: 1px solid blue;
  text-align: center;
  font-size: 17px;
}
#profile_update:hover{
  cursor: pointer;
  color: white;
  background-color: purple;

}
#profile_nav2 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 170px;
  background-color: #f1f1f1;
  height: 700px;
  float: left
}#profile_li2 a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}
li a.active {
  background-color: #04AA6D;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}
.profileresult_cat {
  padding: 10px;
  height: 500px;
  float: left;
  border: ;
  margin-left: 5px;
  margin-top: 50px;
  width: 800px;
}
#profileresult_nav2 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 170px;
  background-color: #f1f1f1;
  height: 700px;
  float: left
}
#profileresult_li2 a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}
#profileresults_customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 1010px;
  margin-left: 5px;
}
#profileresults_customers td,
#profileresults_customers th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

#profileresults_customers tr:nth-child(even) {
  background-color: #f2f2f2;
}
#profileresults_customers tr:hover {
  background-color: #ddd;
}

#profileresults_customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #04AA6D;
  color: white;
}
#question_category {
  border: 2px solid black;
  width: 830px;
  margin-left: 250px;
  margin-top: 60px;
  padding: 10px;
  height: 100%;
}
#countdown {
  font-size: 18px;
}
#examdetails{
  text-align: center;
  font-weight: bold;
}
#remainingTime{
  float: left;
}
#examstarted{
  float: right;
}
#submit_answer{
  background-color: blue;
  padding: 7px;
  color: white;
  font-weight: bold;
  border: 1px solid blue;
  margin-left: 350px;
}
#submit_answer:hover{
  cursor: pointer;
  opacity: .8;
}
.addclass_cat{
  padding: 10px;
  height: 500px;
  float: left;
}
#addclass_button {
background-color: #04AA6D;
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
cursor: pointer;
width: 60%;
}

#addclass_button:hover {
opacity: 0.8;
}
#addclass_nav2 {
list-style-type: none;
margin: 0;
padding: 0;
width: 200px;
background-color: #f1f1f1;
height: 700px;
float: left
}
#addclass_li2 a {
display: block;
color: #000;
padding: 8px 16px;
text-decoration: none;
}

li a.active {
background-color: #04AA6D;
color: white;
}

li a:hover:not(.active) {
background-color: #555;
color: white;
}
#addclass_form {
    border: 3px solid #f1f1f1; 
    width: 500px;
    margin-left: 250px;
    margin-top: 50px;
    padding:30px;
}
#addclass_input_text, #addclass_input_password{
width: 60%;
padding: 12px 20px;
margin: 8px 0;
border: 1px solid #ccc;
box-sizing: border-box;
}
#addclass_customers {
font-family: Arial, Helvetica, sans-serif;
border-collapse: collapse;
width: 600px;
margin-left: 190px;
margin-top: 50px;
}

#addclass_customers td, #addclass_customers th {
border: 1px solid #ddd;
padding: 8px;
text-align: center;
}

#addclass_customers tr:nth-child(even){background-color: #f2f2f2;}

#addclass_customers tr:hover {background-color: #ddd;}

#addclass_customers th {
padding-top: 12px;
padding-bottom: 12px;
text-align: center;
background-color: #04AA6D;
color: white;
}
.addquestion_cat{
  padding: 10px;
  height: 500px;
  float: left;
}
button {
background-color: #04AA6D;
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
cursor: pointer;
width: 60%;
}

button:hover {
opacity: 0.8;
}
#nav2 {
list-style-type: none;
margin: 0;
padding: 0;
width: 170px;
background-color: #f1f1f1;
height: 800px;
float: left
}

#addquestion_li2 a {
display: block;
color: #000;
padding: 8px 16px;
text-decoration: none;
}
#addquestion_form1 {
    border: 3px solid #f1f1f1; 
    width: 700px; 
    margin-left: 200px;
    margin-top: 0px;
    padding:30px;
    float: left;
  }
.addquestion_input_text{
width: 80%;
padding: 12px 20px;
margin: 8px 0;
border: 1px solid #ccc;
box-sizing: border-box;
}

button {
background-color: #04AA6D;
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
cursor: pointer;
width: 60%;
}

button:hover {
opacity: 0.8;
}
#addquestion_customers {
font-family: Arial, Helvetica, sans-serif;
border-collapse: collapse;
width: 1200px;
  margin-top: 100px;
}

#addquestion_customers td, #addquestion_customers th {
border: 1px solid #ddd;
padding: 8px;
text-align: center;
}

#addquestion_customers tr:nth-child(even){background-color: #f2f2f2;}

#addquestion_customers tr:hover {background-color: #ddd;}

#addquestion_customers th {
padding-top: 12px;
padding-bottom: 12px;
text-align: center;
background-color: #04AA6D;
color: white;
}
.addsubject_cat{
  padding: 10px;
  height: 500px;
  float: left;
}
#li2 a {
display: block;
color: #000;
padding: 8px 16px;
text-decoration: none;
}
#addsubject_form {
    border: 3px solid #f1f1f1; 
    width: 500px;
    margin-left: 250px;
    margin-top: 50px;
    padding:30px;
  }

.addsubject_input_text {
width: 60%;
padding: 12px 20px;
margin: 8px 0;
border: 1px solid #ccc;
box-sizing: border-box;
}

#addsubject_button {
background-color: #04AA6D;
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
cursor: pointer;
width: 40%;
}

#addsubject_button :hover {
opacity: 0.8;
}
#addsubject_customers {
font-family: Arial, Helvetica, sans-serif;
border-collapse: collapse;
width: 600px;
margin-left: 190px;
margin-top: 50px;
}

#addsubject_customers td, #addsubject_customers th {
border: 1px solid #ddd;
padding: 8px;
text-align: center;
}

#addsubject_customers tr:nth-child(even){background-color: #f2f2f2;}

#addsubject_customers tr:hover {background-color: #ddd;}

#addsubject_customers th {
padding-top: 12px;
padding-bottom: 12px;
text-align: center;
background-color: #04AA6D;
color: white;
}
.editclass_cat{
  margin-left: 250px;
  margin-top: 60px;
  padding: 10px;
  height: 500px;
  float: left;
}
#editclass{
          width: 170px;
          background-color: darkcyan;
          color: white;
          border: 1px solid darkcyan;
          height: 40px;
          font-weight: bold;
          font-size: 17px;
          margin-top: 30px;
          margin-left: 100px;
}
#editclass:hover{
          background-color: darkblue;
          color: white;
          cursor: pointer;
}
#editclass_form{
          border: 1px solid black;
          width: 400px;
          padding-left: 30px;
          padding-top: 20px;
          padding-bottom: 30px;
          margin-left: 100px;
          margin-top: 10px;
}
#newClassName{
        padding: 10px;
}
.editexam_cat{
  padding: 10px;
  height: 500px;
  float: left;
}

.editexam_input_text{
  width: 350px;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
#editexam_form{
  border: 1px solid black;
  width: 500px;
  padding-left: 70px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: 250px;
  margin-top: 0px;
}
input[type=datetime-local]{
  width: 200px;
  height: 30px;
}
#editexam{
  width: 140px;
  height: 40px;
  background-color: darkcyan;
  border: 1px solid darkcyan;
  color: white;
  margin-left: 80px;
}#editexam:hover{
  background-color: darkblue;
  color: white;
  cursor: pointer;
}
.editquestion_cat {
  margin-left: 250px;
  margin-top: 60px;
  padding: 10px;
  height: 500px;
  float: left;
}
#edit {
  width: 170px;
  background-color: darkcyan;
  color: white;
  border: 1px solid darkcyan;
  height: 40px;
  font-weight: bold;
  font-size: 17px;
  margin-top: 30px;
  margin-left: 100px;
}

#edit:hover {
  background-color: darkblue;
  color: white;
  cursor: pointer;
}

#editquestion_form {
  border: 1px solid black;
  width: 400px;
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 30px;
  margin-left: 100px;
  margin-top: 10px;
}
.editsubject_cat{
  margin-left: 250px;
  margin-top: 60px;
  padding: 10px;
  height: 500px;
  float: left;
}
      #edit_question{
          width: 170px;
          background-color: darkcyan;
          color: white;
          border: 1px solid darkcyan;
          height: 40px;
          font-weight: bold;
          font-size: 17px;
          margin-top: 30px;
          margin-left: 100px;
      }
      #edit_question:hover{
          background-color: darkblue;
          color: white;
          cursor: pointer;
      }
      #editquestion_form{
          border: 1px solid black;
          width: 400px;
          padding-left: 30px;
          padding-top: 20px;
          padding-bottom: 30px;
          margin-left: 100px;
          margin-top: 10px;
      }
      .home_cat{
        margin-left: 250px;
        margin-top: 60px;
        padding: 10px;
        height: 500px;
        float: left;
      }
      #admin_login_form{
        border: 3px solid #f1f1f1; 
        width: 700px; 
        margin-left: 300px;
        margin-top: 50px;
      }
  
  #admin_index_input_text, #admin_index_input_password {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  .admin_result_cat{
    padding: 10px;
    height: 500px;
    float: left;
    margin-left: 5px;
    margin-top: 50px;
    width: 800px;
}
button:hover {
    opacity: 0.8;
}
#admin_result {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 1010px;
    margin-left: 5px;
}

#admin_result td, #admin_result th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

#admin_result tr:nth-child(even){background-color: #f2f2f2;}

#admin_result tr:hover {background-color: #ddd;}

#admin_result th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #04AA6D;
    color: white;
}
#delete{
    background-color: red;
    color: white;
    font-weight: bold;
    border: 1px solid red;
    padding: 5px;
}
#delete:hover{
    cursor: pointer;
    background-color: blue;
    color: white;
    border: 1px solid blue;
}
.scheduleexam_cat{
  padding: 10px;
  height: 500px;
  float: left;
}
#scheduleexam_form {
  border: 3px solid #f1f1f1;
  width: 500px;
  margin-left: 290px;
  margin-top: 0px;
  padding:30px;
}
#examname_admin {
  width: 350px;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
#scheduleexam_list {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 1000px;
  margin-left: 0px;
}

#scheduleexam_list td, #scheduleexam_list th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

#scheduleexam_list tr:nth-child(even){background-color: #f2f2f2;}

#scheduleexam_list tr:hover {background-color: #ddd;}

#scheduleexam_list th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #04AA6D;
  color: white;
}
#scheduleexambutton{
  background-color: red;
  color: white;
  margin: 8px 0;
  float: left;
  border: none;
  cursor: pointer;
  width: 70px;
  margin-left: 5px; 
}
#scheduleexambutton:hover{
  background-color: blue;
  color: white;
}
input[type=datetime-local]{
  width: 200px;
  height: 30px;
}
.users_cat{
  padding: 10px;
  height: 500px;
  float: left;
  border: ;
  margin-left: 50px;
  margin-top: 50px;
  width: 800px;
}
#user_list {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-left: 100px;
}

#user_list td, #user_list th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

#user_list tr:nth-child(even){background-color: #f2f2f2;}

#user_list tr:hover {background-color: #ddd;}

#user_list th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #04AA6D;
  color: white;
}
#remove_user{
  background-color: red;
  color: white;
  padding: 14px 20px;
  margin-left: 28px;
  float: ;
  border: none;
  cursor: pointer;
  width: 100px;
  margin: 2px;
}
#remove_user:hover{
  background-color: blue;
  color: white;
}